#fejlec{
    background-image:url(image/fejlec.jpg) ;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
   margin: auto;

    background-size: cover;

}
body{
    background-color: black;
    
}
h2{
    color: white;

}
#menu{
    float: right;
    color: white;
    margin: auto;
    padding: 15px;
    font-size: medium;
}
a{
color: white;
text-decoration: none;

}
#keret{
    width: 900px;
    margin: auto;

}
p{
    color: white;
   
    float: left;
}
#pia-pizza{
    text-align:center ;

}
#table{
    text-align: center;
}
#pizza-menu{
    color: white;
    text-align: center;
    
}
li{
    border: 1px solid white;
    width: 50%;
}