#fejlec{
    background-image:url(image/fejlec.jpg) ;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
   margin: auto;

    background-size: cover;

}
body{
    background-color: black;
    color: white;
    
}
p{
    width: 70%;
}
h2{
    color: white;

}
#menu{
    float: right;
    color: white;
    margin: auto;
    padding: 15px;
    font-size: medium;
}
a{
color: white;
text-decoration: none;

}

/*/#keret{
    width: 100%;
    margin: auto;
    padding: 10px;
    

}
/*/

#pia-pizza{
    text-align:left ;

}
#table{
    text-align: center;
}
#pizza-menu{
    color: white;
    text-align: center;
    
}

#pizza-menu ul{
    justify-content: center;
    display: flex;
    list-style-type: none;
}
#pizza-menu li{
    border: 1px solid white;
    margin: 20px;
    padding: 10px 50px;

}
#Foglalj{
   
    font-size: 20px;
}
#bal{
    text-align: right;
    width: 40%;
    padding: 10px;
    
}
#jobb{
    text-align: left;
    width: 60%;
    padding: 10px;

}
#etterem{
    display: flex;
    width: 900px;
    justify-content: center;
    text-align: center;
    margin: auto;
    
}
#specialitasok{
    color: white;
    text-align: center;
}
#p-kep
{
    width: 750px;
    display: flex;
    flex-direction: column
}
#zt-kep
{
    width: 350px;
    height: 340px;
    object-fit: cover;
    object-position: center;
}
#Vm-kep{
    width: 350px;
    height: 650px;
    display: flex;
    justify-content: center;
  object-fit: cover;
  object-position:center ;
}
#p2-kep{
    width: 350px;
}
#e-kep{
    width: 300px;
}
#keret-hatter{
    background-color: #282424;
    width: 100%;
    margin: auto;
}
#menu-keret{
    width: 900px;
    margin: auto;

}





#kepek {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 20px;
}
 
.baloszlop {
    margin: 0;
    width: auto;
    padding: 25px;
    flex-direction: column;
}
 
.sor {
    display: flex;
    height: auto;
    justify-content: space-between;
}
 


 
.kiskep {
    
}
 
.jobboszlop {
    margin: 0;
    width: auto;
    padding-top: 25px;
}
 
.magaskep {
    height: 625px;
    width: 300px;
    object-fit: cover;
    object-position: center;
}
 
.kicsikep {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
 
.szoveg {
    position: relative;
    top: -25px;
    left:  50%;
    transform: translate(-50%, -50%);
    font-size: larger;
}