#fejlec{
    background-image:url(image/fejlec.jpg) ;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
   margin: auto;

    background-size: cover;

}
body{
    background-color: black;
}
h2{
    color: white;
}
#menu{
    float: right;
    color: white;
    margin: auto;
    padding: 15px;
}
a{
color: white;
text-decoration: none;

}
#keret{
    width: 1100px;
    margin: auto;

}
p{
    color: white;
    text-align: center;
}
#pia-pizza{
    text-align:center ;



}